i {
    width: 30%;
}
#contact {
    background: url(../img/contact-background.jpg) fixed center no-repeat;
    background-size: cover;
}
.contact-connect a {
    color: #6B0C22;
}

.contact-form form {
    background-color: #6B0C22;
    border-radius: 30px;
}
.contact-form label {
    color : white;
}

.signature h6{
    background-color: #011e29;
    color: white;
}