
.header {
    background-color: #EEF1E6;
}
/*PAGE NAME*/ 
#page-name {
    margin-left: 45px;
}
.name {
    color: #FC6183;
    font-family: "Semplicita Pro";
}
.function {
    color: #707070;
    font-family: "Segoe UI";
}

/*MENU*/
.site-navigation {
    margin-right:3%;
}
.site-navigation ul {
    list-style-type: none;
    text-align: left;
    padding-right: 10px;
    font-family: "Segoe UI";
}
.site-navigation a {
    color: #707070;
}

.site-navigation li:hover {
    color: #FC6183;
    text-decoration: underline;
}

#active {
    color: #FC6183;
}

/*hamburger menu*/
.navbar-toggler {
    width: 8%
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 97, 131, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}