.project-card {
    background-color: #011e29;
    background-size: cover;
    width: 90%;
    position:center;
}

.projects a {
    background: #6B0C22;
}
.project {
    width:50%;
}

/*.inner {
    overflow: hidden;
}
.inner img {
    transition: all 1.5s ease;
}

    .inner:hover img {
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }*/
/*.project {
    overflow: hidden;
}*/

    .project .card {
        transition: all 1.5s ease;
    }

    .project:hover .card{
        transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
    }