@media (max-width: 992px) {
    .about-card p {
        background-color: #EBE7E4;
        border-radius: 20px;
        opacity: .6;
    }
}

@media (max-width: 768px) {
    #about {
        background: url(../img/background-small.jpg) fixed center no-repeat;
        background-size: cover;
    }
}


@media (max-width: 576px) {
    .main-class h3 {
        font-size: 20px;
    }
    .navbar-brand {
        width: 50%;
    }

        .navbar-brand p {
            font-size: 50%;
        }
        .navbar-toggler {
            width: 15%;
        }

    .navbar-toggler-icon {
        width: 10%;
        margin-left: 0;
    }

    .site-name p {
        font-size: 40px;
    }

    .about-card p {
        font-size: 90%;
    }

    .about-card a {
        font-size: 12px;
        width: fit-content;
    }

    .projects a {
        width: fit-content;
    }

    .button-send {
        width: fit-content;
    }
}
