html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

body {
    height: 100%;
}

hr {
    width: 30%;
    background: #6B0C22;
}

.header {
    background: url(../img/background-new.jpg) fixed center no-repeat;
    background-size: cover;
    position: relative;
}

.section-title {
    color: #6B0C22;
}

main-class {
    background: #6B0C22;
}
.gsap-balls{
    text-align:center;
}
.ball {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #6B0C22;
    border-radius: 50%;
}