html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

hr {
    width: 30%;
    background: #6B0C22;
}

.section-title {
    color: #6B0C22;
}

main-class {
    background: #6B0C22;
}
