.welcome {
    /*background: url(../img/background-new.jpg) fixed center no-repeat;
    background-size: cover;*/
    padding-top: 15%;
    padding-bottom: 15%;
    height:100%;
}
.site-name {
    z-index: 2;
    width: 100%;
    position: relative;
}
    .site-name p {
        background: #6B0C22;
        opacity: .9;
    }
.lead p {
    background: #6B0C22;
    opacity: .9;
}
 
